h1{font-family:arial; color:red; font-size:28pt}
h2{font-family:verdana; color: greem; font-size:22pt}
h6{font-family:hattenschweiler; color:blue; font-size:16pt}
a{text-decoration:none}
img{border: 4px double orange}
.kermit{color:green}
.piggy{color:green}
body{background-color:green}
